body {
    background-color: rgb(6, 14, 49);
    color: aliceblue;
    background-image: url("assets/Batman\ Cinza.jpg");
    background-size: cover;
}

img {
    height: 300px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 15px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(6, 14, 49);
}

p {
    color: rgb(33, 66, 255);
}

footer p {
    color: rgb(112, 198, 255);
} 

header {
    display: flex;
    align-items: center;
    justify-content: center
    ;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}